{% extends 'base.html' %}

{% block content %}
<h1>{{elective_papers.header}}</h1>
{% for p in elective_papers.body %}
  <p>{{ p.value }}</p>
{% endfor %}

<h2>{{elective_papers.paper_1}}</h2>
{% for p in elective_papers.paper_1_text %}
  <p>{{ p.value }}</p>
{% endfor %}
<h3>Abstract</h3>
{% for p in elective_papers.paper_1_abstract %}
  <p>{{ p.value }}</p>
{% endfor %}
<a href="{% static '/assets/pdfs/Eadon_elective_paper_1.pdf' %}">Link to elective paper 1</a>

<h2>{{elective_papers.paper_2}}</h2>
{% for p in elective_papers.paper_2_text %}
  <p>{{ p.value }}</p>
{% endfor %}
<h3>Abstract</h3>
{% for p in elective_papers.paper_2_abstract %}
  <p>{{ p.value }}</p>
{% endfor %}

<a href="{% static '/assets/pdfs/Eadon_elective_paper_2.pdf' %}">Link to elective paper 2</a>
<br />
<a href="{% static '/assets/pdfs/Eadon_elective_paper_2_slides.pdf' %}">Link to elective paper 2 slides</a>

<h2>{{elective_papers.paper_3}}</h2>
{% for p in elective_papers.paper_3_text %}
  <p>{{ p.value }}</p>
{% endfor %}
<h3>Abstract</h3>
{% for p in elective_papers.paper_3_abstract %}
  <p>{{ p.value }}</p>
{% endfor %}

<a href="{% static '/assets/pdfs/Eadon_elective_paper_3_pub_policy.pdf' %}">Link to elective paper 3</a>
{% endblock content %}
