{% set slash = "/" if NODE_ENV === 'production' else "" %}

<div class="menu-container">
  <div class="site-menu">
    <a href="{{ PATH_PREFIX }}{{ slash }}about">About</a>
    <div class="dropdown">
      <button class="dropbtn" href="{{ PATH_PREFIX }}{{ slash }}mlis-portfolio">MLIS Portfolio</button>
      <div id="myDropdown" class="dropdown-content">
        <a href="{{ PATH_PREFIX }}{{ slash }}cv">CV</a>
        <a href="{{ PATH_PREFIX }}{{ slash }}professional-development-statement">Professional Development Statement</a>
        <a href="{{ PATH_PREFIX }}{{ slash }}issue-paper">Issue Paper</a>
        <a href="{{ PATH_PREFIX }}{{ slash }}coursework">Coursework</a>
        <a href="{{ PATH_PREFIX }}{{ slash }}advising-history">Record of Advising History</a>
        <a href="{{ PATH_PREFIX }}{{ slash }}supporting-documentation">Supporting Documentation</a>
        <a href="{{ PATH_PREFIX }}{{ slash }}accessibility-statement">Accessibility Statement</a>
        <a href="{{ PATH_PREFIX }}{{ slash }}printable-portfolio">Printable Portfolio</a>
      </div>
    </div>
    <a href="{{ PATH_PREFIX }}{{ slash }}contact">Contact</a>
  </div>
</div>
