<div class="menu-container">
  <div class="site-menu">
    <a href="{{ PATH_PREFIX }}about">About</a>
    <div class="dropdown">
      <button class="dropbtn" href="{{ PATH_PREFIX }}mlis-portfolio">MLIS Portfolio</button>
      <div id="myDropdown" class="dropdown-content">
        <a href="{{ PATH_PREFIX }}cv">CV</a>
        <a href="{{ PATH_PREFIX }}professional-development-statement">Professional Development Statement</a>
        <a href="{{ PATH_PREFIX }}issue-paper">Issue Paper</a>
        <a href="{{ PATH_PREFIX }}coursework">Coursework</a>
        <a href="{{ PATH_PREFIX }}advising-history">Record of Advising History</a>
        <a href="{{ PATH_PREFIX }}supporting-documentation">Supporting Documentation</a>
        <a href="{{ PATH_PREFIX }}accessibility-statement">Accessibility Statement</a>
        <a href="{{ PATH_PREFIX }}printable-portfolio">Printable Portfolio</a>
      </div>
    </div>
    <a href="{{ PATH_PREFIX }}contact">Contact</a>
  </div>
</div>
