@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  color: #02b0b0;
  margin: 0px;
}

article {
  max-width: 760px;
  width: 100%;
  margin: auto;
}

a {
  color: #02b0b0;
}

button {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  color: #02b0b0;
}

.project {
  margin: 0 10px;
}

.menu-container {
  max-width: 760px;
  width: 100%;
  margin: auto;
}

.site-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  margin: 0 10px;
}
.site-menu .name {
  display: inline;
  font-weight: 600;
}
.site-menu .links .dropbtn, .site-menu .links a {
  padding: 5px 0px 5px 15px;
}
.site-menu .links .dropbtn a, .site-menu .links a a {
  padding: 0;
}
.site-menu a {
  text-decoration: none;
  cursor: pointer;
}
.site-menu a:hover {
  text-decoration: underline;
}

/* Dropdown Button */
.dropbtn {
  border: none;
  cursor: pointer;
  background-color: #fff;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  z-index: 1;
  border: 1px solid;
}

.dropdown-content a {
  padding: 12px 15px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}