@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,900&display=swap');

$site-bg: #fff;
$accent-color: #9342f5;
$link-color: #02b0b0;
$max-width: 760px;

body{
  font-family: 'Montserrat', sans-serif;
  background-color: $site-bg;
  color: $accent-color;
  margin: 0px;
}

p{
  line-height: 1.5;
  font-size: 18px;
  // color: #000;
}

article{
  max-width: $max-width;
  width: 100%;
  margin: 50px auto;
}

a {
  color: $accent-color;
  &:hover{
    color: $link-color;
  }
}

button{
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  color: $accent-color;
}

h1{
  font-size: 32px;
}

h2{
  margin-top: 80px;
}

.project{
  // max-width: $max-width;
  // width: 100%;
  // margin: auto;
  margin: 0 10px;
}

.menu-container{
  max-width: $max-width;
  width: 100%;
  margin: auto;
  // display: block;
  // height: 30px;
  // padding: 10px 0;
}

.site-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  // width: 100%;
  padding-top: 10px;
  margin: 0 10px;
  .name{
    display: inline;
    font-weight: 600;
  }
  .links{
    .dropbtn, a, .item{
      padding: 5px 0px 5px 15px;
      a{
        padding: 0;
      }
    }
    .dropdown-content{
      width: 161px;
      a {
        padding: 12px 15px;
        text-decoration: none;
        display: block;
        &:hover{
          text-decoration: underline;
        }
        &.indent{
          padding: 6px 30px;
        }
      }
    }
  }
  a{
    text-decoration: none;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }
}

/* Dropdown Button */
.dropbtn {
  border: none;
  cursor: pointer;
  background-color: $site-bg;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $site-bg;
  z-index: 1;
  border: 1px solid;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.home{
  img{
    display: inline-block;
    max-width: 400px;
    margin: 0 15px 15px 0;
  }
  p{
    display: inline-block;
  }
}
