@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  color: #1d1d1d;
  margin: 0px;
}

article {
  max-width: 760px;
  width: 100%;
  margin: 50px auto;
}
article a {
  color: #6F0CE9;
}
article a:hover {
  color: #4c08a0;
}

a {
  color: #07828D;
}
a:hover {
  color: #6F0CE9;
}

p {
  line-height: 1.8;
  font-size: 18px;
  margin: 0px 0 50px 0;
}

button {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  color: #07828D;
}

h1, h2, h3, h4, h5, h6 {
  color: #07828D;
}

h1 {
  font-size: 32px;
}

h2 {
  margin-top: 80px;
}

.project {
  margin: 0 10px;
}

.menu-container {
  max-width: 760px;
  width: 100%;
  margin: auto;
}

.site-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  margin: 0 10px;
}
.site-menu .name {
  display: inline;
  font-weight: 600;
}
.site-menu .links .dropbtn, .site-menu .links a, .site-menu .links .item {
  padding: 5px 0px 5px 15px;
}
.site-menu .links .dropbtn a, .site-menu .links a a, .site-menu .links .item a {
  padding: 0;
}
.site-menu .links .dropdown-content {
  width: 161px;
}
.site-menu .links .dropdown-content a {
  padding: 12px 15px;
  text-decoration: none;
  display: block;
}
.site-menu .links .dropdown-content a:hover {
  text-decoration: underline;
}
.site-menu .links .dropdown-content a.indent {
  padding: 6px 30px;
}
.site-menu a {
  text-decoration: none;
  cursor: pointer;
}
.site-menu a:hover {
  text-decoration: underline;
}

/* Dropdown Button */
.dropbtn {
  border: none;
  cursor: pointer;
  background-color: #fff;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  z-index: 1;
  border: 1px solid #07828D;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.home img {
  display: inline-block;
  max-width: 400px;
  margin: 0 15px 15px 0;
}
.home p {
  display: inline-block;
}

table th, table td {
  text-align: left;
  padding: 10px 5px;
}
table th:first-of-type, table td:first-of-type {
  padding-left: 0px;
}
@media (max-width: 500px) {
  table th, table td {
    font-size: 13px;
  }
}

li {
  color: #07828D;
  padding: 10px 0;
  margin-left: -18px;
}
li.tab {
  margin-left: 10px;
}